.timer {
  display: flex;
  justify-content: center;
  /* font-size: 40px; */
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 90px;
}

.field:not(:last-child) {
  margin-right: 30px;
}

.value {
  font-size: 50px;
  background-color: cornflowerblue;
}

.label {
  margin-top: 15px;
  font-size: 20px;
}
